# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na temperatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -.03, 0.26, .40, 1.02]
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
pd.Series(data = dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
pd.Series(data = dados, index = indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(data = dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))
# seu código aqui
dadossemindex = pd.DataFrame(arr)
dadossemindex

             0           1           2
0   115.164985   85.230176  100.480362
1   112.402324  103.738809   87.890834
2   119.535920   98.314031  108.023668
3    92.497158  105.746255   94.330622
4   104.179325   94.623723   95.710004
5    96.979963  101.580775  104.138497
6    97.593781   92.357375  120.500529
7   103.270673   93.556751  115.165474
8    99.984061  107.060225  108.548455
9   109.610343  104.704997  100.801499
10   90.657172   97.517472   89.951593
11   95.297336  103.949516   81.966307
12   97.148516   98.531199  102.748464
13   98.023848   94.764610   98.060498
14  100.657443  100.465490  120.473884
15  107.161103  104.706995  102.139145
16   92.471639  112.950133  104.128547
17   81.748672  103.332602   98.198995
18  106.765110  106.304590   98.122778
19   83.967355  121.381315   96.977784

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
dadoscomindex = pd.DataFrame(arr, range(1, 21), columns = ['x1', 'x2', 'x3'])
dadoscomindex

            x1          x2          x3
1   115.164985   85.230176  100.480362
2   112.402324  103.738809   87.890834
3   119.535920   98.314031  108.023668
4    92.497158  105.746255   94.330622
5   104.179325   94.623723   95.710004
6    96.979963  101.580775  104.138497
7    97.593781   92.357375  120.500529
8   103.270673   93.556751  115.165474
9    99.984061  107.060225  108.548455
10  109.610343  104.704997  100.801499
11   90.657172   97.517472   89.951593
12   95.297336  103.949516   81.966307
13   97.148516   98.531199  102.748464
14   98.023848   94.764610   98.060498
15  100.657443  100.465490  120.473884
16  107.161103  104.706995  102.139145
17   92.471639  112.950133  104.128547
18   81.748672  103.332602   98.198995
19  106.765110  106.304590   98.122778
20   83.967355  121.381315   96.977784

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
dadoscomindex['media'] = (dadoscomindex['x1'] + dadoscomindex['x2'] + dadoscomindex['x3'])/3
dadoscomindex

            x1          x2          x3       media
1   115.164985   85.230176  100.480362  100.291841
2   112.402324  103.738809   87.890834  101.343989
3   119.535920   98.314031  108.023668  108.624540
4    92.497158  105.746255   94.330622   97.524678
5   104.179325   94.623723   95.710004   98.171017
6    96.979963  101.580775  104.138497  100.899745
7    97.593781   92.357375  120.500529  103.483895
8   103.270673   93.556751  115.165474  103.997633
9    99.984061  107.060225  108.548455  105.197580
10  109.610343  104.704997  100.801499  105.038946
11   90.657172   97.517472   89.951593   92.708746
12   95.297336  103.949516   81.966307   93.737720
13   97.148516   98.531199  102.748464   99.476059
14   98.023848   94.764610   98.060498   96.949652
15  100.657443  100.465490  120.473884  107.198939
16  107.161103  104.706995  102.139145  104.669081
17   92.471639  112.950133  104.128547  103.183439
18   81.748672  103.332602   98.198995   94.426756
19  106.765110  106.304590   98.122778  103.730826
20   83.967355  121.381315   96.977784  100.775485

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
dadoscomindex['log_med'] = np.log(dadoscomindex['media'])
dadoscomindex

            x1          x2          x3       media   log_med
1   115.164985   85.230176  100.480362  100.291841  4.608084
2   112.402324  103.738809   87.890834  101.343989  4.618521
3   119.535920   98.314031  108.023668  108.624540  4.687897
4    92.497158  105.746255   94.330622   97.524678  4.580105
5   104.179325   94.623723   95.710004   98.171017  4.586711
6    96.979963  101.580775  104.138497  100.899745  4.614127
7    97.593781   92.357375  120.500529  103.483895  4.639416
8   103.270673   93.556751  115.165474  103.997633  4.644368
9    99.984061  107.060225  108.548455  105.197580  4.655840
10  109.610343  104.704997  100.801499  105.038946  4.654331
11   90.657172   97.517472   89.951593   92.708746  4.529463
12   95.297336  103.949516   81.966307   93.737720  4.540501
13   97.148516   98.531199  102.748464   99.476059  4.599917
14   98.023848   94.764610   98.060498   96.949652  4.574192
15  100.657443  100.465490  120.473884  107.198939  4.674686
16  107.161103  104.706995  102.139145  104.669081  4.650804
17   92.471639  112.950133  104.128547  103.183439  4.636508
18   81.748672  103.332602   98.198995   94.426756  4.547824
19  106.765110  106.304590   98.122778  103.730826  4.641799
20   83.967355  121.381315   96.977784  100.775485  4.612895